@font-face {
  font-display: swap;
  font-family: "nbsp-font";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font/nbsp-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "space-font";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font/space-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "WscFont";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font/WscFont.ttf");
}
