@font-face {
  font-display: swap;
  font-family: "nbsp-font";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font@d109ea27ae77647e35c4064ce334a3775b5aeb15/nbsp-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "space-font";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font@d109ea27ae77647e35c4064ce334a3775b5aeb15/space-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "WscFont";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/StevaNNN/space-font@d109ea27ae77647e35c4064ce334a3775b5aeb15/WscFont.ttf");
}
