@font-face {
  font-display: swap;
  font-family: "nbsp-font";
  font-style: normal;
  font-weight: normal;
  src: url("nbsp-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "space-font";
  font-style: normal;
  font-weight: normal;
  src: url("space-font.ttf");
}

@font-face {
  font-display: swap;
  font-family: "WscFont";
  font-style: normal;
  font-weight: normal;
  src: url("WscFont.ttf");
}
